header {
    border-bottom: 1px solid $sand;
    padding: 1.5em 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    @media #{$tablet} {
        flex-direction: row;
        padding: 2.75em 0.5em;
    }
    .header__logo {
        display: block;
    }
}

.site-nav {
    .site-nav__list {
        padding-top: 1em;
        @media #{$tablet} {
            padding-top: 0;
        }
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-flow: row wrap;
        
        .site-nav__item {
            display: inline-block;
            padding: 0 1em;
            text-transform: uppercase;
            letter-spacing: .05em;
            a {
                font-weight: 600;
                .special-sea {
                    color: $sea;
                    transition: color 0.3s;
                    &:hover {
                        color: $amber;
                    }
                }
            }
        }
    }
}
